<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Localhost</title>

    <link rel="stylesheet" href="{$basePath}/style.css">
</head>
<body>

<main>
    <div class="header">
        <div class="header-content">
            <input type="text" id="filterInput" placeholder="Filter" autofocus>
        </div>
    </div>

    <div class="list" id="listContainer">
    </div>

    <script src="{$basePath}/main.js"></script>
    <script>
        window.listData = {$list};
    </script>
</main>
    
</body>
</html>